
{{#if loggedIn}}
<table>
 <tr>
    <th>Client Name</th>
    <th>Email</th>
    <th>Phone</th>
  </tr>
    
{{#each data as |Client|}}
    <tr>
    <td> {{Client.client_name }} </td>
    <td> {{Client.client_email}} </td>
    <td> {{Client.client_phone}} </td>
    </tr>
{{/each}}
</table>

{{else}}
<p>you must be logged in to view client</p>
{{/if}}



    <script src="/js/client.js"></script>