{{#if loggedIn}}
<h5>Welcome {{user_name}}!</h5>
{{else}}
<h1 style="margin-left: 300px;padding-top:100px">Welcome to Invoice Manager</h1>
<img style="width:1000px;height:500px;margin-left: 200px;" src="https://blog.tenderboard.biz/wp-content/uploads/2020/06/Invoicing-made-simpler-with-Invoice-Management-System.png"></img>

{{/if}}

