
<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
      <div class="form-group">
        <h3>Dont have login id?</h3>
        <button class="btn btn-primary" type="submit"><h3 style="font-size: large;"><span><a style="color:white;font-weight:bold;" href="/login"
              class="nav-link active  align-middle px-0">Signup</a></span></h3></button>
      </div>
    </form>
  </div>

</div>

<script src="/js/login.js"></script>