<section>
        <h2>New Invoice</h2>
    </section>
    <main class="container text-left">
        <div class="row">
            <div class="col">
                <h4>Client</h4>
            </div>
            <div class="col">
                <h4>Invoice Date</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>Due date</h4>
            </div>
            <div class="col">
                <h4>Invoice No.</h4>
            </div>
        </div>
        <div class="text-center">
            <div class="col">
                <h4>Notes</h4>
            </div>
        
        </div>
            
    </main>
    <div><button>Save</button></div>




<script src="/js/newinvoice.js"></script>