    <header>
        <h1 class="bg-primary text-light fw-bold">Invoice Manager</h1>
    </header>
    
    <section>
        <h2 class="text-bg-secondary" id="new-invoice-heading">New Invoice</h2>
    </section>
    <form>
        <div class="row">
            <div class="col">
                <input id="innumber" type="text" class="form-control" placeholder="Invoice Number">
              </div>
              <input id="amount" type="text" class="form-control" placeholder="Amount">
        </div>
    </form>
    <form>
        <div class="row">
            <div class="col">
                <input id="ddate"type="text" class="form-control" placeholder="Due Date">
              </div>
        </div>
    </form>
    <form class="text-center">
        <div class="row ">
            <div>
                <input id="memo" type="text" class="form-control" placeholder="Notes">
            </div>
            <div class="col">
                <input id="id" type="text" class="form-control" placeholder="Clientid">
            </div>
        </div>
    </form>
    <div><button type="button" class="btn btn-success btn-large">Save Invoice</button></div>
</body>
</html>



<script src="/js/newinvoice.js"></script>