 {{#each data as |data| }}
 <div>
  <h3>Invoices</h3>
  <table style="width:100%">
<tr>
    <th>Client</th>
    <th>Reg Number</th>
    <th>balance</th>
    <th>Due</th>
  </tr>
   <tr>
    <td>{{data.client_name}}</td>
    <td>{{invoices.[0].invoice_number}}</td>
    <td>{{invoices.[0].amount}}</td>
    <td>{{invoice.[0].due_date}}</td>
  </tr>
  
</table>

  </div>
  {{/each}}


